DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ngopi_jember?schema=public"
PORT=4000
CLIENT_URL="http://localhost:5173"
JWT_SECRET="ganti-dengan-random-string-minimal-32-karakter"
NODE_ENV="development"
